In [16]:
import numpy as np
import pandas as pd

In [19]:
rents=pd.DataFrame({'rent':[1550, 1700, 900, 850, 1000, 950]})

In [20]:
rents

   rent
0  1550
1  1700
2   900
3   850
4  1000
5   950

#To find Mean

In [22]:
rents.mean()

rent    1158.333333
dtype: float64

# To find Std --using numpy

In [24]:
np.std(rents)

rent    335.927406
dtype: float64